{% extends "base_template.html" %}

{% block content %}  
   <body>     
	 <h2> Opciones Usuario</h2>
	 <ul>
	    <li> <a href = "{{ url_for('compartir_receta') }}"> Compartir receta </a></li><br>
    	<li> <a href = "{{ url_for('ranking') }}"> Consultar ranking mensual</a></li><br>
		<li> <a href = "{{ url_for('consultar_recetas') }}"> Consultar recetas </a></li> <br>
		<li> <a href = "{{ url_for('me_gusta') }}"> Dar Me gusta a recetas </a></li><br>		
	 </ul>
   </body>
{% endblock %}
