<!DOCTYPE html>
<html lang="es">
<head>
   
    <title>Restaurante “Sancho Panza”</title>
    
    <link rel="stylesheet" href="{{ url_for("static", filename="css/estilos.css") }}>
</head>
<body>
  <background>
  <header>
    <div class logo>
      
      <h1 class="nombre">Restaurante “Sancho Panza”<img src="static/img/logo.png" alt="Logo" height="60px" width="60px" ></h1>
      
    </div>
    
  </header>
    
    
    {% block content %}{% endblock %}
      <div class="myDiv">
			<!-- <br><br><a href = "{{ url_for('inicio') }}" > Inicio </a><br><br> -->
	  </div>	
  </background>
</body>
</html>


