{% extends "base.html" %}

{% block content %}
<h2>Ingresar Receta</h2> 

<form action = "{{ url_for('compartir_receta') }}" method = "post" class = "container">
  <div class="col-md-6">
    <label for="validationServerUsername" class="form-label">Nombre de la Receta</label>
    <div class="input-group has-validation">
      <input type="text" name="nombre" class="form-control has-validation" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" placeholder="Nombre de la Receta" required>
    </div>
  </div>
  <label for="validationCustom03" class="form-label col-md-6">Tiempo estimado de Preparacion en minutos</label>
  <div class="col-md-2">
    <input type="number" min="0" name="tiempo" class="form-control has-validation" id="validationCustom03" aria-describedby="validationCustom03Feedback" placeholder="Tiempo" required>
  </div>
  <div class="col-md-10">
    <label for="validationTextarea" class="form-label">Elaboracion de la receta</label>
    <input class="form-control has-validation" name="elaboracion" id="validationTextarea" placeholder="elaboracion" required>
  </div>
  <br>
  <div class="col-12">
    <button class="btn btn-outline-secondary" type="submit">Ingresar Ingredientes</button>
  </div>
</form>
</div>
{% endblock %}





